.deliveryForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--light-diamond);
  border-radius: 8px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  color: var(--royal-blue);
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.75rem;
  border: 1px solid var(--royal-blue);
  border-radius: 4px;
}

.buttonNav {
  display: flex;
  gap: 10px;
}

.button {
  background-color: var(--royal-blue);
  color: var(--white);
  padding: 1rem;
  border: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:first-child{
    background: var(--light-diamond-hovered);
    color: var(--royal-blue);

    &:hover{
      color: var(--white);
    }
  }
}

.button:hover {
  background-color: var(--royal-blue-hovered);
}