.requestItem {
  padding: 1rem;
  border: 1px solid var(--royal-blue);
  border-radius: 4px;
  background-color: var(--white);
  margin-bottom: 1rem;
  position: relative;
}

.actions {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.actions svg {
  cursor: pointer;
  color: var(--royal-blue);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.matchMessage{
    margin-bottom: 1rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input, .select, .textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--royal-blue);
  border-radius: 4px;
}

.textarea {
  resize: vertical;
}

.button {
  background-color: var(--royal-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.button:hover {
  background-color: var(--royal-blue-hovered);
}