@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --white: #ffffff;
    --royal-blue: #4665ff;
    --royal-blue-hovered: #3451e1;
    --light-diamond: #e2fffa;
    --light-diamond-hovered: #d8e4e2;
}